.make-match-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .make-match-make-match {
    width: 100%;
    height: 1122px;
    display: flex;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(252, 191, 73, 1) 0%, rgba(242, 174, 43, 1) 60%, rgba(227, 150, 0, 1) 100%);
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(252, 191, 73, 1);
  }
  .make-match-woofle1 {
    top: 46px;
    left: 46px;
    width: 195px;
    height: 124px;
    position: absolute;
  }
  .make-match-group1000008679 {
    top: 89px;
    left: 495px;
    width: 917px;
    height: 38px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .make-match-group1000008668 {
    top: 0px;
    left: 0px;
    width: 917px;
    height: 38px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .make-match-text10 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 33px;
    font-style: Regular;
    text-align: center;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text11 {
    left: 554px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 33px;
    font-style: Regular;
    text-align: center;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text12 {
    left: 821px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 33px;
    font-style: Regular;
    text-align: center;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text13 {
    left: 215px;
    color: rgba(0, 48, 73, 1);
    height: auto;
    position: absolute;
    font-size: 33px;
    font-style: Regular;
    text-align: center;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-group1000008680 {
    top: 270px;
    left: 88px;
    width: 550.6474609375px;
    height: 712px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .make-match-group1000008674 {
    top: 0px;
    left: 0px;
    width: 550.6474609375px;
    height: 712px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .make-match-group1000008669 {
    top: 0px;
    left: 0px;
    width: 550.6474609375px;
    height: 712px;
    display: flex;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 138, 15, 1) 0%, rgba(255, 131, 0, 1) 100%);
    align-items: flex-start;
    flex-shrink: 1;
  }
  .make-match-group1000008670 {
    top: 13px;
    left: 10px;
    width: 530.1582641601562px;
    height: 685.75537109375px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(249, 156, 25, 1);
  }
  .make-match-unsplash-o3ymv-t7-wf9u {
    top: -350.8514404296875px;
    left: -155.3485107421875px;
    width: 794px;
    height: 1531px;
    position: absolute;
  }
  .make-match-text14 {
    top: 339.914306640625px;
    left: 830px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 91.63361358642578px;
    font-style: Regular;
    text-align: left;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text15 {
    top: 506px;
    left: 1044px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 27.11111068725586px;
    font-style: Regular;
    text-align: left;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text19 {
    top: 632px;
    left: 1044px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 27.11111068725586px;
    font-style: Regular;
    text-align: left;
    font-family: Anta;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text20 {
    top: 283px;
    left: 839.2451171875px;
    color: rgba(255, 255, 255, 0.8299999833106995);
    height: auto;
    position: absolute;
    font-size: 39.6264533996582px;
    font-style: Regular;
    text-align: left;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text21 {
    top: 508px;
    left: 830px;
    color: rgba(255, 255, 255, 0.83);
    height: auto;
    position: absolute;
    font-size: 32.4937px;
    font-style: Regular;
    text-align: left;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-text25 {
    top: 620px;
    left: 830px;
    color: rgba(255, 255, 255, 0.83);
    height: auto;
    position: absolute;
    font-size: 32.3332px;
    font-style: Regular;
    text-align: left;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-rectangle8756 {
    top: 837px;
    left: 853px;
    width: 463px;
    height: 132px;
    position: absolute;
    border-radius: 44.57170867919922px;
  }
  .make-match-text29 {
    top: 868.8369140625px;
    left: 968.5224609375px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 60.24251937866211px;
    font-style: Regular;
    text-align: left;
    font-family: And Then It Ends;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .make-match-line4 {
    top: 464px;
    left: 1015px;
    width: 262px;
    height: 1px;
    position: absolute;
  }
  