.success-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .success-success {
    gap: 32px;
    width: 100%;
    height: 982px;
    display: flex;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(252, 191, 73, 1) 0%, rgba(242, 174, 43, 1) 60%, rgba(227, 150, 0, 1) 100%);
    align-items: center;
    flex-shrink: 0;
  }
  .success-group10000086831 {
    top: 285px;
    left: 323px;
    width: 866px;
    height: 593px;
    position: absolute;
  }
  .success-woofle1 {
    top: 63px;
    left: 618px;
    width: 277px;
    height: 175px;
    position: absolute;
  }
  